/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --title-decor-color: #353430;
  --title-decor-bg: #ff8dcb;
  --topic-title-color: #353430;
  --text-color: #353430;
  --button-color: #353430;
  --button-hover: rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --title-decor-color: #353430;
    --title-decor-bg: #ff8dcb;
    --topic-title-color: #353430;
    --text-color: #353430;
    --button-color: #353430;
    --button-hover: rgba(50, 49, 45, 0.4);
  }
  .rec-badge {
    display: none;
  }
}

:root.theme-light .rec-badge {
  display: none;
}
