/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #FF0070;
  --font-family-regular: "IBM Plex Mono", monospace;
  --title-color: #DB00FF;
  --title-decor-color: #000028;
  --title-decor-bg: #FF0070;
  --topic-title-color: #FF0070;
  --text-color: #F1B2CE;
  --button-color: #FF0070;
  --button-hover: rgba(255, 0, 112, 0.4);
}


